<% if flash[:logged] == "valid" %>
    <p><span class="success_box"><%= flash[:notice] %></span></p>
<% end %>

Vitajte v systéme Obchodného registra SR pre založenie spoločností.
Momentálne je k dispozícii alfa verzia 0.1.0, ktorá podporuje založenie spoločnosti s ručením obmedzeným.
V prípade akýchkoľvek otázok, prípadne stažností sa obrátte na systémových integrátorov.
