<ul id="navigation">
  <li><%= link_to "Hlavná", controller: "main", action: "index" %></li>
  <li><%= link_to "Profil", controller: "main", action: "show_prof" %></li>
  <li><a href="#" onclick="setSelected(this)">Vytvor spoločnosť</a></li>
  <li><a href="#" onclick="setSelected(this)">Založ spoločnosť</a></li>
</ul>